body {
	font-family: sans-serif;
	margin: 0;
	padding: 20px;
}

h1 {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}

p {
	text-align: center;
	margin-bottom: 20px;
}

form {
	text-align: center;
}

button,
a {
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px;
	text-decoration: none;
	cursor: pointer;
}

button {
	background-color: #f00;
	color: #fff;
}

button:hover {
	background-color: #d00;
}

a {
	background-color: #ddd;
	color: #000;
}

a:hover {
	background-color: #ccc;
}