body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
}

header {
	background-color: #3498db;
	/* Blue header background */
	color: #fff;
	/* White header text */
	padding: 20px;
	text-align: center;
}

header h1 {
	font-size: 2em;
	margin: 0;
}

main {
	margin-top: 20px;
	/* Space between header and content */
}

h1 {
	margin-bottom: 15px;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 10px;
	text-align: left;
}

footer {
	background-color: #f0f0f0;
	/* Light gray footer background */
	color: #333;
	/* Dark gray footer text */
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	/* Space between content and footer */
}